<?php
return [
    'mode' => 'dev',   //  dev：开发模式  pro:上线模式
    'redis' => [
        'scheme' => 'tcp',
        'host'   => '127.0.0.1',
        'port'   => 6379,
    ],
    'db' => [
        'host' => '127.0.0.1',
        'dbname' => 'blog',
        'user' => 'root',
        'pass' => '',
        'charset' => 'utf8',
    ],
    'email' => [
        'mode' => '',  // 值debug、production
        'port' => 25,
        'host' => 'smtp.126.com',
        'name' => 'hei_time@126.com',
        'pass' => 'asdfghjkl123',
        'from_email' => 'hei_time@126.com',
        'from_name' => '无敌小螃蟹',
    ]
];
?>