<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <?php view('common.nav') ?>
    <h1>批量上传</h1>

    <form action="/user/uploadall" method="post" enctype="multipart/form-data">
        <?=csrf_field()?>
        <div>
            选择头像：<br>
            <input type="file" name="images[]" id="img"><br>
            <input type="file" name="images[]" id="img"><br>
            <input type="file" name="images[]" id="img"><br>
            <input type="file" name="images[]" id="img"><br>
            <input type="file" name="images[]" id="img"><br>

        </div>
        <br><br>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
    <?php view('common.footer') ?>
</body>
</html>